<%=  paginate @convos %>

<% @convos.each do |convo| %>
<p>
  <%= convo.user.name.capitalize %> |
  <%= link_to "View Conversation", conversation_path(convo) %>
</p>
<% end %>

<%= link_to "Add Conversation", new_conversation_path %>
