<h1>Pink Pig index</h1>
<p>
  Welcome to the home page of Magical Farms Inc! We hope you like what you see. Magical Farms is the world's largest producer of bacon. We currently operate farms in 11 countries and distribute all over the world. We are committed to responsible and ethical farming, yada yada yada.
</p>
